/* #region Palette*/

:root {
    --ywbl-primary: #ff9614;
    --ywbl-secondary: #7c69a4;
    --ywbl-bg: #f6f5f3;
    --ywbl-bghead: white;
    --ywbl-categorytxt: #b6b2bc;
}

/* #endregion Palette*/

/* #region Common*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 70%;
    margin: 0 auto;

}

.flex-cont {
    display: flex;
}


ul {
    list-style-type: none;
}

/* #endregion Common*/

/* #region Header*/

header {
    padding: 0 1rem;
}

/* #endregion Header*/

/* #region Main*/

main {
    background-color: var(--ywbl-bg);
}


.recipe-title {
    padding-top: 3rem;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;

    #categoria {
        font-size: 12px;
        text-transform: uppercase;
        color: var(--ywbl-categorytxt);
    }

    .recipe-name {
        align-items: center;
        justify-content: space-between;

        .name {
            color: var(--ywbl-secondary);
            font-size: 32px;
            font-weight: bolder;
        }

        .rating {

            font-size: 14px;
            .fa-star{
                color: var(--ywbl-primary);
            }
            #rate {
                color: var(--ywbl-bghead);
                background-color: var(--ywbl-primary);
                font-weight: bold;
                text-transform: uppercase;

                border: 1px;
                border-radius: 1rem;
                padding: 0.5rem 0.75rem;
            }
        }
    }
}

.recipe-card{
    .video{
        width: 80%;
    }

    .info{
        width: 30%;



    }
}

/* #endregion Main*/

/* #region Footer*/




/* #endregion Footer*/